* {
  box-sizing: content-box;
  user-select: none;
}

body {
  background: rgb(129,129,129);
  background: -moz-radial-gradient(circle, rgba(129,129,129,0.9753151260504201) 0%, rgba(159,159,159,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(129,129,129,0.9753151260504201) 0%, rgba(159,159,159,1) 100%);
  background: radial-gradient(circle, rgba(129,129,129,0.9753151260504201) 0%, rgba(159,159,159,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#818181",endColorstr="#9f9f9f",GradientType=1);
}

#resetGameIcon {
  background-image: url("smiley.png");
  background-color: #b7b7b7;
  background-position: center;
  background-size: 45px;
  background-repeat: no-repeat;
  border: 5px outset;
  width: 60px;
  height: 60px;
  align-self: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.game-board {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  justify-content: center;
  box-shadow: 0 0 6px 3px rgb(8, 8, 8);
}

.game-board div {
  display: grid;
  background-color: #c0c0c0;
  border-style: outset;
  border-width: 5px;
  color: blue;
  font-weight: 1000;
  font-size: larger;
  align-content: center;
  text-align: center;
}

@font-face {
  font-family: digitalFont;
  src: url(digitalFont.ttf);
  text-align: center;
}

#mines {
  display: flex;
  font-family: digitalFont;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: red;
  width: 60px;
  height: 60px;
  text-shadow: 2px 2px 9px red;
  background-color: black;
  margin-left: 5px;
  border: 5px inset;
}

#time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: digitalFont;
  font-size: 50px;
  color: red;
  text-shadow: 2px 2px 9px red;
  width: 90px;
  height: 60px;
  background-color: black;
  margin-right: 5px;
  border: 5px inset;
}

.functions-panel {
  display: flex;
  background-color: #c0c0c0;
  border: 5px inset;
  width: 360px;
  height: 80px;
  align-items: center;
  box-shadow: 0 0 6px 3px rgb(8, 8, 8);
  justify-content: space-between;
}

.header {
  font-family: digitalFont;
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
  -webkit-text-fill-color: red;
  text-shadow: 2px 2px 9px red;
  font-weight: 900;
  background-color: black;
}